@font-face {
  font-family: "iconfont"; /* Project id 2565519 */
  src: url('../iconfont/iconfont.woff2?t=1621739682873') format('woff2'),
       url('../iconfont/iconfont.woff?t=1621739682873') format('woff'),
       url('../iconfont/iconfont.ttf?t=1621739682873') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou2:before {
  content: "\e604";
}

.icon-diqiu:before {
  content: "\e662";
}

.icon-weizhi:before {
  content: "\e600";
}

.icon-sousuo_huaban1:before {
  content: "\e60d";
}

